
body {
    background: #d2a679;
    background-image: url('backgroud.jpg');
}


/* Alex */


#board4players {
  display: grid;
  width: 100%;

  grid-template-areas: "top"
                      "right"
                      "bottom"
                      "left";
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  row-gap: 10px;
}


@media (min-width: 1300px)
{

  #board4players {
    display: grid;
    width: 100%;
    height: 650px;
    grid-template-areas: ". top top top ."
                        "left left . right right"
                        ".  bottom bottom bottom .";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 50px 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
  }

}


#board4players .playerboard {
  width: 660px;
  height: 200px; 
  border-radius: 10px;
  background-color: #ffffff80;
  border: 1px solid #252525;
  box-shadow: 1px 1px 5px #252525;
}


#board4players .playerboard .cardsingame {
  display: flex;
  justify-content: center;
}


#board4players .player-top {
  grid-area: top;
}

#board4players .player-left {
  grid-area: left;
}

#board4players .player-right {
  grid-area: right;
}

#board4players .player-bottom {
  grid-area: bottom;
}


#board4players .playerboard .card-played-empty {
  width: 60px;
}

#board4players .playerboard .card-played {

  margin-left: -60px;
  border: 1px solid #252525;  
  box-shadow: 1px 1px 5px black;
  border-radius: 8px;
  width: 100px;
  height: 150px;
}

